@use '../abstracts/variables' as *;
// Mixins Responsivos

// Tablet y móviles grandes (≤ 768px)
@mixin responsive-md {
    .navbar__container {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .navbar__start,
    .navbar__end {
        width: 100%;
        justify-content: space-between;
    }

    .navbar__links {
        flex-direction: column;
        gap: 0.75rem;
    }

    .footer__list {
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
}

