body {
      font-family: 'Plus Jakarta Sans', sans-serif;
        margin: 0;
        padding: 0;
    }

    .navbar {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 40px;
  border-bottom: 1px solid #E5E8EB;
  width: 100%;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 32px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo-icon {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.square {
  width: 16px;
  height: 16px;
  position: relative;
}

.logo-text {
  font-size: 18px;
  font-weight: 700;
  color: #171212;
  line-height: 23px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 36px;
}

.nav-item {
  font-size: 14px;
  font-weight: 500;
  color: #171212;
  line-height: 21px;
}

.navbar-right {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 32px;
  flex: 1 1 0;
}

.search-box {
  display: inline-flex;
  align-items: center;
  border-radius: 8px;
  background-color: #F5F0F0;
  min-width: 160px;
  max-width: 256px;
}

.search-icon-container {
  padding-left: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F5F0F0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.search-icon {
  width: 24px;
  height: 24px;
  position: relative;
}

.search-text {
  padding: 8px 16px 8px 8px;
  font-size: 16px;
  font-weight: 400;
  color: #876363;
  line-height: 24px;
}

.cart-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 10px;
  background-color: #F5F0F0;
  border-radius: 8px;
}

.cart-square {
  width: 20px;
  height: 20px;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

    .hero {
      position: relative;
      height: 480px;
      width: 928px;
      min-height: 480px;
      align-self: stretch;
      border-radius: 8px;
      overflow: hidden;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.32)100%),
                  linear-gradient(90deg, rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.40)100%),
                  lightgray 50% / cover no-repeat;
      }

    .hero-content {
      position: absolute;    
      top: 60%;      
      transform: translateY(-50%);
      color: white;
    }
    .hero-title {
      font-size: 48px;
      font-weight: 928;
    }
    .hero-subtitle {
      font-size: 16px;
      max-width: 577px;
    }
    .hero-btn {
      position: absolute;
      bottom: 20px;
      right: 30px;
    
    }
    .product-img, .category-img {
      width: 100%;
      border-radius: 8px;
      object-fit: cover;
    }


