body {
      font-family: 'Plus Jakarta Sans', sans-serif;
        margin: 0;
        padding: 0;
    }

   .navbar {
    width: 100%;
    padding: 12px 40px;
    border-bottom: 1px solid #e5e8eb;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 16px;
}

.icon-box {
    width: 40px;
    height: 40px;
    max-width: 480px;
    padding: 0 10px;
    background: #f0f5f0;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.icon {
    width: 16px;
    height: 16px;
    background: #121712;
}

.logo-section {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo-img {
    width: 16px;
    height: 16px;
}

.brand-name {
    color: #121712;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.navbar-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
    flex: 1;
}

.nav-links {
    display: flex;
    gap: 36px;
}

.nav-item {
    color: #121712;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    cursor: pointer;
    font-family: Plus Jakarta Sans;
}

.icons {
    display: flex;
    gap: 8px;
}

.icon-img {
    width: 20px;
    height: 20px;
}

/* main desde este punto*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 16px;
	width: 960px;
  max-width: 100%;
  align-items: center;
  justify-content: center;
}
   .hero {
  position: relative;
  height: 480px;
  width: 928px;
  min-height: 480px;
  align-self: stretch;
  border-radius: 8px;
  overflow: hidden;
  background: 
    linear-gradient(0deg, rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.32) 100%),
    linear-gradient(90deg, rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.40) 100%),
    lightgray 50% / cover no-repeat;
  display: flex;
  justify-content: center;
}

    .hero__content {
      position: absolute;    
      top: 60%;      
      transform: translateY(-50%);
      color: white;
    }
    .hero__title {
      font-size: 48px;
      font-weight: 928;
    }
    .hero__subtitle {
      font-size: 16px;
      max-width: 577px;
    }
    .hero__btn {
      position: absolute;
      bottom: 20px;
      right: 30px;
    
    }
    .product__img, .category__img {
      width: 100%;
      border-radius: 8px;
      object-fit: cover;
    }

 /*desde aqui el footer*/   
.footer {
  background-color: #f8f9fa; 
  padding: 3rem 0;
  border-top: 1px solid #ddd;
}

.footer__link-item {
  color: #6c757d;
  text-decoration: none;
  font-weight: 400;
}

.footer__link-item:hover {
  color: #171212;
}

.footer__copyright-text {
  color: #6c757d;
}

.footer__container {
  max-width: 928px;
  margin: 0 auto;
}

