@use '../abstracts/_variables' as *;
/* PRODUCTO */
.main {
    width: 960px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.producto {
    max-width: 800px;
    background-color: $primary-color;
    border-radius: 12px;
    padding: 2rem;
    text-align: left;
}

.producto__breadcrumb {
    font-size: 11px;
    color: #999;
    margin-bottom: 1rem;
    text-align: left;
}

.producto__breadcrumb a {
    color: $color-breadcrumb;       
    text-decoration: none;  
    font-weight: 500;       
}

.producto__titulo {
    font-size: 28px;
    font-weight: 600;
    color: $color-text;
    margin-bottom: 1rem;
}

.producto__descripcion {
    font-size: $text-md;
    color: $color-text;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.producto__imagen-container {
    width: 100%;
    max-width: 800px;
    height: 500px; 
    overflow: hidden;
    margin: 0 auto 2rem auto;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9; 
}

.producto__imagen {
    width: 120%; 
    transition: transform 0.4s ease-in-out;
}

.producto__imagen:hover {
    transform: scale(1.1);
}

.producto__boton {
    display: inline-block; 
    margin: 0; 
    padding: 0.75rem 1.5rem;
    font-size: $text-md;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s ease;
    width: fit-content; 
    background-color: #E82933;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.btn--primary:hover {
    background-color: #c62828;
}