// colores
$color-text: #171212;
$color-bg-light: #f8f9fa;
$color-highlight: #f5f0f0;
$color-muted: #6c757d;

// fuentes
$font-family: 'Plus Jakarta Sans', sans-serif;

// tamaños
$max-width-container: 928px;
