@use '../abstracts/_variables' as *;
@use '../abstracts/mixins' as *;

/* NAVBAR */
.navbar {
    background-color: $primary-color;
    border-bottom: 1px solid #ddd;
    padding: 12px 40px;
}

.navbar__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.navbar__start {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navbar__end {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: auto;
}

.navbar__brand {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar__logo {
    width: 20px;
    height: auto;
}

.navbar__name {
    font-size: 18px;
    font-weight: bold;
    color: $color-text;
}

/* Enlaces de navegación */
.navbar__links {
    display: flex;
    gap: 1.5rem;
}

.navbar__link {
    font-size: $text-md;
    font-weight: 500;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar__link:hover {
    color: #e53935;
}

/* Búsqueda */
.navbar__search-box {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    padding: 8px 40px;
    border-radius: 10px;
    gap: 0.5rem;
}

.navbar__search-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar__search-icon img {
    width: 16px;
    height: 16px;
}

.navbar__search-text {
    font-size: $text-md;
    color: $color-breadcrumb;
}

.navbar__icons {
    display: flex;
    align-items: left;
    gap: 2rem;
}

.navbar__icon {
    display: flex;
    align-items: left;
}

.navbar__icon-profile {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
}

.navbar__icon-cart {
    background-color: #f7f2f2;
    border-radius: 8px;
    padding: 0.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    width: 36px;
    height: 36px;
}

.navbar__icon-cart img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

@media (max-width: 768px) {
    @include responsive-md;
}
