@use '../abstracts/variables';
@use '../base/base';

.footer__link-item {
  color: #6c757d;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
}

.footer__link-item:hover {
  color: variables.$color;
}

.footer__copyright-text {
  color: #6c757d;
}

.footer__container {
  max-width: 960px;
  margin: 0 auto;
}