body {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #333;
	
}

h1{
	color: #171212;
  font-size: 32px;
	
}
p {color: #876363;
  font-size: 14px;
  max-width: 90%;}

p2 {color: #171212;
  font-size: 16px;
  max-width: 90%;}

.navbar {
    width: 100%;
    padding: 12px 40px;
    border-bottom: 1px solid #e5e8eb;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 16px;
}

.icon-box {
    width: 40px;
    height: 40px;
    max-width: 480px;
    padding: 0 10px;
    background: #f0f5f0;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.icon {
    width: 16px;
    height: 16px;
    background: #121712;
}

.logo-section {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo-img {
    width: 16px;
    height: 16px;
}

.brand-name {
    color: #121712;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.navbar-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
    flex: 1;
}

.nav-links {
    display: flex;
    gap: 36px;
}

.nav-item {
    color: #121712;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    cursor: pointer;
    font-family: Plus Jakarta Sans;
}

.icons {
    display: flex;
    gap: 8px;
}

.icon-img {
    width: 20px;
    height: 20px;
}

.container {
  margin: 0 10px;
  padding: 16px;
	width: 95%;
}

/* ABOUT */
.about {
 }

.about-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.about h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 800;
  margin: 0;
}

.about p {
  color: #876363;
  font-size: 14px;
  max-width: 90%;
}



/* TEAM */

.section {
	width: 99%;
	padding: 0;
	border: 0;
	
}
.section-title {
  font-size: 22px;
  font-weight: 700;
  padding: 20px 0 12px;
}

.team3 {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-title  {
	
  font-size: 16px;
  text-align: center;
color: #171212;
 
}

.card-text {
  font-size: 14px;
  text-align: center;
color: #876363;
 
}

.card-body {
	  font-size: 14px;
  text-align: center;
color: #876363;
	
}




/* FOOTER */
.footer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer__container {
    width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 40px 20px;
    background-color: #fff;
    color: #638763;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.footer__list{
    width: 960px;
}

.footer__list,
.footer__social-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__link {
    text-decoration: none;
    color: #638763;
    font-size: 14px;
}

.footer__social-link {
    display: inline-block;
}

.footer__social-list {
    gap: 24px;
}

.footer__social-link svg {
    width: 20px;
    height: 20px;
}

.footer__copyright {
    margin: 0;
    font-size: 14px;
    color: #638763;
}