@use "../abstracts/variables" as vars;

body {
  font-family: vars.$font-family;
}

main {
  max-width: vars.$max-width-container;
  margin: 0 auto;

  @media (max-width: 768px) {
    padding: 20px 16px;
  }
}
